In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from tsfresh import extract_features

carotid_df = pd.read_csv('data/carotid_pressure.csv')
illiac_df = pd.read_csv('data/illiac_pressure.csv')

#Rename the first column(s)
carotid_df.rename(columns={'Unnamed: 0':'patient_id'}, inplace=True)
illiac_df.rename(columns={'Unnamed: 0':'patient_id'}, inplace=True)


print("Rows in carotid_df before removing rows with >100Nans:", len(carotid_df))
rows=0
for index,row in carotid_df.iterrows():
    byRow = carotid_df.loc[[index]].isna().sum().sum()
    if byRow > 100:
        carotid_df = carotid_df.drop(rows, axis=0)
    rows += 1
print("Rows in carotid_df after removing rows with >100Nans:", len(carotid_df))
print(carotid_df)

print("Rows in illiac_df before removing rows with >100Nans:", len(illiac_df))
rows=0
for index,row in illiac_df.iterrows():
    byRow = illiac_df.loc[[index]].isna().sum().sum()
    if byRow > 100:
        illiac_df = illiac_df.drop(rows, axis=0)
    rows += 1
print("Rows in illiac_df after removing rows with >100Nans:", len(illiac_df))
print(illiac_df)

#Keep only the rows with indexes common to the two dataframes
carotid_df_2 = carotid_df.loc[carotid_df.index.isin(illiac_df.index)]
illiac_df_2 = illiac_df.loc[illiac_df.index.isin(carotid_df.index)]


print("New length carotid df 2",len(carotid_df_2))
print(carotid_df_2)
print("New length illiac df 2",len(illiac_df_2))
print(illiac_df_2)

# X and Y split
y = carotid_df_2[['target']].copy()
X_carotid = carotid_df_2.copy()
X_carotid = X_carotid.drop(X_carotid.columns[0],axis=1)
X_carotid = X_carotid.drop('target', axis=1)
X_illiac = illiac_df_2.copy()
X_illiac = X_illiac.drop('target', axis=1)
X_illiac = X_illiac.drop(X_illiac.columns[0],axis=1)


#Cleanup
X_carotid = X_carotid.interpolate(method="linear", limit_direction="both")
sigma_row = X_carotid.std()
sigma_avg = np.mean(sigma_row)

rows=0
for index,row in X_carotid.iterrows():
    X_carotid.iloc[rows,:] = scipy.ndimage.gaussian_filter1d(X_carotid.iloc[rows,:], sigma_avg)
    rows += 1

X_illiac = X_illiac.interpolate(method="linear", limit_direction="both")
sigma_row = X_illiac.std()
sigma_avg = np.mean(sigma_row)

rows=0
for index,row in X_illiac.iterrows():
    X_illiac.iloc[rows,:] = scipy.ndimage.gaussian_filter1d(X_illiac.iloc[rows,:], sigma_avg)
    rows += 1

    
# Train and test sets splitting
X_train_carotid, X_test_carotid, y_train, y_test = train_test_split(X_carotid, y, test_size = 0.10, random_state = 0)
X_train_illiac, X_test_illiac, y_train, y_test = train_test_split(X_illiac, y, test_size = 0.10, random_state = 0)


#Scale the data    
scaler = StandardScaler()
X_train_carotid = scaler.fit_transform(X_train_carotid)
X_train_illiac = scaler.fit_transform(X_train_illiac)
X_test_carotid = scaler.fit_transform(X_test_carotid)
X_test_illiac = scaler.fit_transform(X_test_illiac)


# Combine Carotid and Illiac inputs. This might also be tricky...be creative here!
X_train = X_train_carotid
#X_train = np.hstack((X_train_carotid, X_train_illiac))
X_test = X_test_carotid
#X_test = np.hstack((X_test_carotid, X_test_illiac))
y_train = np.ravel(y_train)
y_test = np.ravel(y_test)
        
# # Training the Naive Bayes model on the Training set
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)


# # Predicting the Test set results
y_pred = classifier.predict(X_test)

        
# # Making the Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
        
stats =  accuracy_score(y_test, y_pred)
modelLearn = True


print(stats)



print(y_test)
print(y_pred)






#screen = pd.options.display
#screen.max_columns = 1000
#screen.max_rows = 3500
#print(carotid_df_2)
#print(illiac_df_2)

Rows in carotid_df before removing rows with >100Nans: 3494
Rows in carotid_df after removing rows with >100Nans: 3045
      patient_id  carotid_t_0  carotid_t_1  carotid_t_2  carotid_t_3  \
0              0    61.557625    58.796436    60.827158    64.123071
2              2    74.936590    75.564313    75.399869    75.712397
3              3    72.934124    75.031846    75.370799    75.422582
4              4    62.530546    65.121261    71.311909    66.524650
5              5    76.601938    81.123482    78.137922    79.719750
...          ...          ...          ...          ...          ...
3486        3486    67.385692    67.169153    64.760777    66.760339
3487        3487    65.730373    65.835182    64.006698    66.837689
3489        3489    73.893931    76.653160    76.126752    74.634942
3490        3490    66.707998    68.634724    67.538312    68.542903
3491        3491    76.340137    79.251945    76.495170    79.716762

      carotid_t_4  carotid_t_5  carotid_t_6  carotid_t_7  carotid_t_8  ...  \
0       63.823247    65.516431    62.101314    66.229171    66.620444  ...
2       75.810067    78.174889    78.448054    84.136956          NaN  ...
3       80.263971    79.090854    75.808397    80.159130    77.233167  ...
4       68.852038    69.524773    69.270953    72.462013    70.536691  ...
5       80.292609    84.545678    83.857587    85.845835    85.501286  ...
...           ...          ...          ...          ...          ...  ...
3486    67.690052    67.304041    66.881437    69.537194    72.222324  ...
3487    66.756250    65.235890    66.434483    71.804703    73.154934  ...
3489    74.133882    72.749814    77.543377    78.661268    81.233390  ...
3490    71.755813    71.577170    72.781260    79.940221    77.839375  ...
3491    79.545254    79.790882    80.302617    80.117585    83.302939  ...

      carotid_t_327  carotid_t_328  carotid_t_329  carotid_t_330  \
0         75.625045      73.953417      74.336167      78.050501
2         84.119694      80.595755      77.434997      83.071508
3         86.056639      86.628129      86.717184      87.999749
4               NaN            NaN            NaN            NaN
5         79.892605      78.687598      80.116538      77.814121
...             ...            ...            ...            ...
3486      78.378310      77.832058      75.993440      78.042246
3487      71.515585      76.030118      76.427541      76.441578
3489            NaN      82.269101      84.252711      83.694805
3490      71.120002      69.931707      69.245073      68.060752
3491      77.701695      79.178484      79.581746      77.291759

      carotid_t_331  carotid_t_332  carotid_t_333  carotid_t_334  \
0         75.816516      74.128088      76.524776      76.529527
2         80.720833      82.638449      82.179971      79.939429
3         86.749180      85.437019      87.169038      87.884234
4               NaN            NaN            NaN            NaN
5         82.148567      80.730473      78.304884      76.825661
...             ...            ...            ...            ...
3486      76.094933            NaN            NaN            NaN
3487      76.926790      75.266436      72.658651      77.759963
3489      82.838670      83.021128      79.642017      84.711701
3490      70.053943      68.722908      67.826082      67.358671
3491      76.128936      79.180953      76.919821      75.970585

      carotid_t_335  target
0         74.997850       0
2         83.126989       1
3         87.845174       5
4               NaN       0
5         79.469633       3
...             ...     ...
3486            NaN       0
3487      75.338161       1
3489      81.851055       2
3490      68.100544       2
3491      80.970796       3

[3045 rows x 338 columns]
Rows in illiac_df before removing rows with >100Nans: 3494
Rows in illiac_df after removing rows with >100Nans: 2995
      patient_id  illiac_t_0  illiac_t_1  illiac_t_2  illiac_t_3  illiac_t_4  \
0              0   58.352255   59.769285   59.882430   57.319282   64.127329
1              1   73.246349   75.230721   74.895855   78.563967   75.811125
2              2   72.064917   73.763628   74.790409   73.247517   71.074738
4              4         NaN         NaN         NaN         NaN         NaN
6              6   83.247410   81.636959   78.986405   77.376276   79.553927
...          ...         ...         ...         ...         ...         ...
3488        3488   74.421509   73.190606   72.530841   74.883668   74.503227
3489        3489   72.835455   71.218986   75.605879   69.561617   73.041609
3490        3490   66.730881   64.271350   66.252661   68.405808   71.205111
3491        3491   76.357304   75.723362   77.168498   75.425722   77.738911
3492        3492   72.165796   75.113333   73.985252   73.891968   78.684657

      illiac_t_5  illiac_t_6  illiac_t_7  illiac_t_8  ...  illiac_t_327  \
0      59.973530   60.420682   57.244221   61.110467  ...           NaN
1      75.758775   77.074665   79.879472   79.368021  ...     90.448363
2      72.770622   70.701340   73.732793   74.431709  ...           NaN
4            NaN         NaN         NaN         NaN  ...     74.179752
6      82.017945   86.989151   83.857772   84.002292  ...     83.120621
...          ...         ...         ...         ...  ...           ...
3488   77.302934   76.321957   77.304892   78.086127  ...     86.424409
3489   69.927653   75.353268   71.807114   76.559230  ...     83.411180
3490   68.959384   67.225194   68.465848   72.568891  ...     65.140296
3491   80.316929   84.092888   80.882914   84.210506  ...     74.206251
3492   77.110122   75.202776   78.578466   73.530880  ...           NaN

      illiac_t_328  illiac_t_329  illiac_t_330  illiac_t_331  illiac_t_332  \
0              NaN           NaN           NaN           NaN           NaN
1        82.293603     86.402200     84.131499     90.638462     86.526369
2              NaN           NaN           NaN           NaN           NaN
4        76.853405     77.340440     78.737798     72.688952     72.459296
6        83.569578     84.416398     80.995680     84.582450           NaN
...            ...           ...           ...           ...           ...
3488     82.869993     85.548242     88.483227     85.015982     86.206980
3489     81.073134     78.203373     77.822222     82.581665     78.116181
3490     66.137882     66.680111     69.361276     68.917842     68.243234
3491     76.751418     78.015833     79.288570     77.683313     76.474865
3492           NaN           NaN           NaN           NaN           NaN

      illiac_t_333  illiac_t_334  illiac_t_335  target
0              NaN           NaN           NaN       0
1        88.830453     89.269866     88.072980       0
2              NaN           NaN           NaN       1
4        74.118438     76.054741     75.887257       0
6              NaN           NaN           NaN       0
...            ...           ...           ...     ...
3488     87.621364     87.352938     86.936082       3
3489     77.614067     78.692242     81.023734       2
3490     63.166689     67.273124     65.455444       2
3491     74.878601     80.610500     74.937192       3
3492           NaN           NaN           NaN       0

[2995 rows x 338 columns]
New length carotid df 2 2608
      patient_id  carotid_t_0  carotid_t_1  carotid_t_2  carotid_t_3  \
0              0    61.557625    58.796436    60.827158    64.123071
2              2    74.936590    75.564313    75.399869    75.712397
4              4    62.530546    65.121261    71.311909    66.524650
6              6    80.259871    81.799168    79.592666    84.159980
8              8    73.944811          NaN    73.407267    76.340083
...          ...          ...          ...          ...          ...
3486        3486    67.385692    67.169153    64.760777    66.760339
3487        3487    65.730373    65.835182    64.006698    66.837689
3489        3489    73.893931    76.653160    76.126752    74.634942
3490        3490    66.707998    68.634724    67.538312    68.542903
3491        3491    76.340137    79.251945    76.495170    79.716762

      carotid_t_4  carotid_t_5  carotid_t_6  carotid_t_7  carotid_t_8  ...  \
0       63.823247    65.516431    62.101314    66.229171    66.620444  ...
2       75.810067    78.174889    78.448054    84.136956          NaN  ...
4       68.852038    69.524773    69.270953    72.462013    70.536691  ...
6       86.670507    85.130211    90.698690    87.049976    84.882309  ...
8       76.676791    75.304603    73.890137    74.847219    77.858663  ...
...           ...          ...          ...          ...          ...  ...
3486    67.690052    67.304041    66.881437    69.537194    72.222324  ...
3487    66.756250    65.235890    66.434483    71.804703    73.154934  ...
3489    74.133882    72.749814    77.543377    78.661268    81.233390  ...
3490    71.755813    71.577170    72.781260    79.940221    77.839375  ...
3491    79.545254    79.790882    80.302617    80.117585    83.302939  ...

      carotid_t_327  carotid_t_328  carotid_t_329  carotid_t_330  \
0         75.625045      73.953417      74.336167      78.050501
2         84.119694      80.595755      77.434997      83.071508
4               NaN            NaN            NaN            NaN
6         84.537841      86.983563      87.928479      89.737331
8         80.218219      81.232076      79.670720      81.036322
...             ...            ...            ...            ...
3486      78.378310      77.832058      75.993440      78.042246
3487      71.515585      76.030118      76.427541      76.441578
3489            NaN      82.269101      84.252711      83.694805
3490      71.120002      69.931707      69.245073      68.060752
3491      77.701695      79.178484      79.581746      77.291759

      carotid_t_331  carotid_t_332  carotid_t_333  carotid_t_334  \
0         75.816516      74.128088      76.524776      76.529527
2         80.720833      82.638449      82.179971      79.939429
4               NaN            NaN            NaN            NaN
6         88.459182      89.777501      86.176169      88.065371
8         79.283130      79.309394      82.557937      81.312666
...             ...            ...            ...            ...
3486      76.094933            NaN            NaN            NaN
3487      76.926790      75.266436      72.658651      77.759963
3489      82.838670      83.021128      79.642017      84.711701
3490      70.053943      68.722908      67.826082      67.358671
3491      76.128936      79.180953      76.919821      75.970585

      carotid_t_335  target
0         74.997850       0
2         83.126989       1
4               NaN       0
6         83.175271       0
8         79.356875       0
...             ...     ...
3486            NaN       0
3487      75.338161       1
3489      81.851055       2
3490      68.100544       2
3491      80.970796       3

[2608 rows x 338 columns]
New length illiac df 2 2608
      patient_id  illiac_t_0  illiac_t_1  illiac_t_2  illiac_t_3  illiac_t_4  \
0              0   58.352255   59.769285   59.882430   57.319282   64.127329
2              2   72.064917   73.763628   74.790409   73.247517   71.074738
4              4         NaN         NaN         NaN         NaN         NaN
6              6   83.247410   81.636959   78.986405   77.376276   79.553927
8              8   73.797936   75.597207   72.795294   75.006510   72.974347
...          ...         ...         ...         ...         ...         ...
3486        3486         NaN         NaN         NaN         NaN         NaN
3487        3487   61.436666   62.239356   63.800261   62.163683   61.955471
3489        3489   72.835455   71.218986   75.605879   69.561617   73.041609
3490        3490   66.730881   64.271350   66.252661   68.405808   71.205111
3491        3491   76.357304   75.723362   77.168498   75.425722   77.738911

      illiac_t_5  illiac_t_6  illiac_t_7  illiac_t_8  ...  illiac_t_327  \
0      59.973530   60.420682   57.244221   61.110467  ...           NaN
2      72.770622   70.701340   73.732793   74.431709  ...           NaN
4            NaN         NaN         NaN         NaN  ...     74.179752
6      82.017945   86.989151   83.857772   84.002292  ...     83.120621
8      74.886528   75.241624   73.746829   78.323698  ...     77.445867
...          ...         ...         ...         ...  ...           ...
3486         NaN   66.305377   69.245026   70.191606  ...     72.123017
3487   62.710110   63.065748   61.586781   68.566309  ...           NaN
3489   69.927653   75.353268   71.807114   76.559230  ...     83.411180
3490   68.959384   67.225194   68.465848   72.568891  ...     65.140296
3491   80.316929   84.092888   80.882914   84.210506  ...     74.206251

      illiac_t_328  illiac_t_329  illiac_t_330  illiac_t_331  illiac_t_332  \
0              NaN           NaN           NaN           NaN           NaN
2              NaN           NaN           NaN           NaN           NaN
4        76.853405     77.340440     78.737798     72.688952     72.459296
6        83.569578     84.416398     80.995680     84.582450           NaN
8        79.171548     76.952012     80.291371     77.612255     81.001494
...            ...           ...           ...           ...           ...
3486     76.317612     75.034984     69.843770     74.162151     71.268956
3487           NaN           NaN           NaN           NaN           NaN
3489     81.073134     78.203373     77.822222     82.581665     78.116181
3490     66.137882     66.680111     69.361276     68.917842     68.243234
3491     76.751418     78.015833     79.288570     77.683313     76.474865

      illiac_t_333  illiac_t_334  illiac_t_335  target
0              NaN           NaN           NaN       0
2              NaN           NaN           NaN       1
4        74.118438     76.054741     75.887257       0
6              NaN           NaN           NaN       0
8        80.399983     79.335658     79.052175       0
...            ...           ...           ...     ...
3486     73.248663     76.233799     74.030694       0
3487           NaN           NaN           NaN       1
3489     77.614067     78.692242     81.023734       2
3490     63.166689     67.273124     65.455444       2
3491     74.878601     80.610500     74.937192       3

[2608 rows x 338 columns]
0.5057471264367817
[4 0 1 2 1 0 2 1 1 4 0 1 1 2 1 4 2 1 0 5 0 4 5 4 2 2 1 1 5 4 0 3 2 1 3 4 1
 0 0 2 3 3 3 5 0 4 0 3 2 4 3 1 5 5 4 4 2 3 1 5 3 0 3 0 4 1 3 3 2 0 4 0 1 3
 2 2 5 2 1 3 0 1 4 1 3 0 5 5 1 4 2 3 4 2 5 1 1 5 2 5 1 4 3 2 5 3 3 4 2 3 4
 3 0 3 4 5 1 1 2 1 1 2 0 0 3 4 5 0 0 0 4 1 5 0 5 1 4 1 0 5 5 5 3 3 4 0 5 1
 1 2 5 5 0 0 5 4 5 4 2 2 5 3 5 2 4 4 3 3 5 5 2 3 2 5 1 5 2 4 1 3 2 3 4 1 2
 4 0 2 2 5 1 2 5 3 0 1 3 4 0 3 1 0 0 0 1 4 0 0 4 5 5 5 2 2 0 1 1 0 0 0 1 5
 5 0 0 0 0 4 5 5 4 0 5 3 1 0 3 2 2 4 4 5 4 1 1 4 4 3 4 3 1 2 0 4 3 5 5 5 2
 1 0]
[5 1 1 2 1 0 3 3 1 5 0 4 1 1 1 4 4 0 0 5 0 3 4 3 2 1 0 1 5 2 0 2 2 1 1 2 1
 0 0 3 2 5 1 5 0 4 0 2 2 1 3 1 4 3 5 4 3 2 0 5 0 0 3 0 3 1 3 1 2 0 3 0 3 4
 3 3 5 4 4 2 0 1 2 2 3 2 5 1 1 5 3 3 4 2 1 0 1 5 2 5 1 5 0 2 5 4 1 4 2 2 1
 2 0 2 5 5 1 1 2 1 4 3 0 4 1 4 4 0 5 0 3 1 5 0 5 1 3 4 0 5 1 1 3 4 2 0 5 1
 0 2 5 4 0 2 2 5 2 5 2 2 5 3 5 2 4 1 3 2 3 4 2 3 1 5 0 5 3 3 1 3 2 2 1 1 2
 4 0 3 1 1 1 5 0 3 2 1 2 4 0 5 2 1 0 0 1 2 3 0 5 4 4 1 2 3 0 5 1 2 0 0 1 5
 5 1 0 0 2 2 4 5 2 5 1 4 1 0 3 4 3 5 3 1 4 1 5 5 1 4 4 5 1 3 1 4 2 5 4 5 2
 1 0]